.btn-square{
  background-color: lightgray;
  width:150px;
  height: 150px;
  vertical-align: top;
  text-align: center;
  border-radius: 12px;
  box-shadow:
        inset 0 0 6px 0 rgba(255,255,255,.4),
        inset 0 0 9px 0 rgba(0,0,0,.4),
        inset 0 0 9px 15px rgba(0,0,0,.05),
        6px 6px 12px 0 rgba(0,0,0,.25);
  font-family: sans-serif;
  font-size: 36px;
  color: darkblue;
}
.row-squares{
  height: 150px;
  text-align: center; /*this keeps what is in each .row-squares centered on page*/
}
.claimed-by-X{
  background-color: cornflowerblue;
  border-color: dodgerblue;
}
.claimed-by-O{
  background-color: lightsteelblue;
  border-color: dodgerblue;
}
.unclaimed{
}
.winner-square{
  border-color: deeppink;
  background-color: hotpink;
}

.controls{
  text-align: center; /*this centers button on page*/
  margin: 48px;
}
.btn{
  background-color: lightgray;
  border-radius: 12px;
  box-shadow:
        inset 0 0 6px 0 rgba(255,255,255,.4),
        inset 0 0 9px 0 rgba(0,0,0,.4),
        inset 0 0 9px 15px rgba(0,0,0,.05),
        6px 6px 12px 0 rgba(0,0,0,.25);
  font-family: sans-serif;
  font-size: 36px;
  color: darkblue;
  padding: 18px;
}

.display-bar{
  margin: 48px 96px;
  background:#769bff;
  border-top: 4px solid #06f;
  border-bottom: 4px solid #06f;
  text-align: center; /*this centers text within the display-bar*/
  font-size: 48px;
}
